.framio-navbar {
  width: 100%;
  height: 45px;
  display: block;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  font-weight: 50;
}

.framio-navbar-container {
  padding-left: 10%;
  padding-right: 3%;
}
