<Navbar backgroundColor="#333333">
  <Navbar-Topic text="Mac" textColor="#FFFFFF" hoverColor="#C2C2C2"></Navbar-Topic>
  <Navbar-Topic text="iPad" textColor="#FFFFFF" hoverColor="#C2C2C2"></Navbar-Topic>
  <Navbar-Topic text="Macbook" textColor="#FFFFFF" hoverColor="#C2C2C2"></Navbar-Topic>
  <Navbar-Search></Navbar-Search>
</Navbar>

<Rounded-Button text="Register Now" backgroundColor="red" hoverColor="#f35d5d"></Rounded-Button>
<!-- <Section backgroundColor="#FFFFFF"></Section>
<Section backgroundColor="#000"></Section> -->
